<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Joullet Template 1</title>
        <link href="../assets/styles/styles.css" rel="stylesheet">
        <script src="../node_modules/jspdf/dist/jspdf.debug.js"></script>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../assets/scripts/app.js"></script>
    </head>
    <body>
        <div class="calendar">
            <h1 style="color: pink">Joullet by Le Thuy hang</h1>
            <p>Click the button to print the current page.</p>
            <button onclick="printTemplate()">Print this page</button>
        </div>
         <table>
              <tr>
                <th>Month</th>
                <th>Savings</th>
                <th>Month</th>
                <th>Savings</th>
              </tr>
              <tr>
                <td>January</td>
                <td>$100</td>
                <td>January</td>
                <td>$100</td>
              </tr>
              <tr>
                <td>February</td>
                <td>$80</td>
                <td>January</td>
                <td>$100</td>
              </tr>
                            <tr>
                <td>January</td>
                <td>$100</td>
                <td>January</td>
                <td>$100</td>
              </tr>
              <tr>
                <td>February</td>
                <td>$80</td>
                <td>January</td>
                <td>$100</td>
              </tr>
                            <tr>
                <td>January</td>
                <td>$100</td>
                <td>January</td>
                <td>$100</td>
              </tr>
              <tr>
                <td>February</td>
                <td>$80</td>
                <td>January</td>
                <td>$100</td>
              </tr>
                            <tr>
                <td>January</td>
                <td>$100</td>
                <td>January</td>
                <td>$100</td>
              </tr>
              <tr>
                <td>February</td>
                <td>$80</td>
                <td>January</td>
                <td>$100</td>
              </tr>
            </table>
    </body>
</html>