<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Joullet Template 1</title>
        <link href="../assets/styles/styles.css" rel="stylesheet">
        <script src="../node_modules/jspdf/dist/jspdf.debug.js"></script>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../assets/scripts/app.js"></script>
    </head>
    <body>
        <h1 style="color: pink">Joullet by Le Thuy hang</h1>
        <p>Click the button to print the current page.</p>
        <button onclick="printTemplate()">Print this page</button>
    </body>
</html>